@font-face {
    font-family: "Innovatech"; 
    src: url('../font/BigerOver-ywyr3.ttf') format('truetype');
}
:root {
    --colorPrimario: #000;
    --colorSecundario: #fff;
    --acento1: #02FFD9;
    --acento2: #555EE1;
    --acento3: #754FE2;
    --acento4: #DB82F1;
}

*{
    font-family: 'Lato';
    color: #fff;
}
body {
    background-color: #000;
}

header {
    width: 100%;
    background-color: #000;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    padding: 1vh 5vw;
}
header .left {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}
header img {
    height: 60%;
    width: auto;
}
header h1 {
    font-family: 'Innovatech';
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}
header nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 4vw;
}
header nav > a {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
}
header nav > a:not(.highlighted):hover{
    text-decoration: underline;
}
header nav > a.highlighted {
    padding: 0.8rem 1.6rem;
    border-radius: 0.8rem;
    background: rgb(117, 79, 226);
    transition: all 0.3s;
}
header nav > a.highlighted:hover {
    opacity: 0.85;
}

/**Hero section*/
.hero-section {
    width: 100%;
    position: relative;
    height: 87vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: max(5vh, 3rem) 5vw;
    background-image: url('../res/robot-hand-transparent.png'), url('../res/text-background-innovacion.svg');
    background-position: bottom right, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain;
}
.hero-section .text-container {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: max(3vh, 2rem);
}
.hero-section .text-container h2 {
    color: #FFF;
    font-size: 7rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.hero-section .text-container p {
    color: #FFF;
    font-family: 'Inter';
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: max(4vh, 2.5rem);
}
.hero-section .text-container a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 6rem;
    border-radius: 0.8rem;
    background: #754FE2;
    color: #FFF;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.3s;
}
.hero-section .text-container a:hover {
    opacity: 0.85;
}
@media only screen and (max-width: 1000px) {
    .hero-section {
        background-image: url('../res/robot-hand-transparent.png');
        padding: 0;
        background-position: center;
        background-size: cover;
    }
    .hero-section .text-container {
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: brightness(20%);
                backdrop-filter: brightness(20%);
        padding: max(2vh, 1rem) 5vw;
    }
}
@media only screen and (max-width:550px) {
    .hero-section .text-container h2 {
        font-size: 5.5rem;
    }
}
@media only screen and (max-width:450px) {
    .hero-section .text-container h2 {
        font-size: 4.5rem;
        text-align: center;
        margin-bottom: max(3vh, 2rem);
    }
    .hero-section .text-container p {
        margin: 0 auto;
        font-size: 1.5rem;
        text-align: center;
        max-width: 90%;
        margin-bottom: max(4vh, 3rem);
    }
    .hero-section .text-container a {
        margin: 0 auto;
        font-size: 1.6rem;
    }
}

/**seccion de programa*/
.program-section {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: max(5rem, 6vh) 0;
}
.lined-heading {
    display: flex;
    align-items: center;
    gap: 3vw;
    margin-bottom: 2rem;
}
.heading-line {
    width: calc(calc(90vw - 410px)/2);
    height: 1px;
    background: linear-gradient(270deg, #DB82F1 0%, #FFF 19.79%, #DB82F1 49.48%, #FFF 83.33%, #DB82F1 100%);
}
.lined-heading h2 {
    color: #DB82F1;
    text-align: center;
    font-size: 5rem;
    font-weight: 700;
    white-space: nowrap;
}
.program-section > p{
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.program-container {
    padding: 3rem 5vw;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 11vw;
}
.program-content {
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;
}
.program-content img {
    width: 4.8rem;
    height: 4.8rem;
}
.program-content h4 {
    color: #DB82F1;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.program-content p {
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
}
@media only screen and (max-width: 1000px) {
    .program-container {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    .program-content {
        margin: 0 auto;
        width: min(90vw, 500px);
    }
}
@media only screen and (max-width: 700px) {
    .lined-heading h2{
        max-width: 300px;
        white-space: normal !important;
    }
    .heading-line {
        width: calc(calc(90vw - 300px)/2);
    }
}

/**Courses section*/
.courses-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: end;
    align-items: center;
}
.laptop-overlay {
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
    background-image: url('../res/laptop-image.jpeg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: -14rem;
    transform: translateY(-50%);
}

.courses-section .right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: end;
    z-index: 2;
}
.courses-section .right > div {
    display: flex;
    align-items: center;
    gap: 2.8rem;
}
.courses-section .right h3 {
    color: #754FE2;
    text-align: right;
    font-size: 5rem;
    font-weight: 800;
    max-width: min(57.7rem, 90vw);
}
.courses-section .right-line {
    width: 10rem;
    height: 0.1rem;
    background: linear-gradient(270deg, #754FE2 0%, #FFF 51.04%, #754FE2 100%);
}
.courses-section .right h2 {
    color: #fff;
    text-align: right;
    font-size: 5rem;
    font-weight: 800;
    margin-right: 12.8rem;
    margin-bottom: 3rem;
    max-width: min(57.7rem, 90vw);
}
.courses-section .right a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.8rem;
    background: #754FE2;
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    margin-right: 12.8rem;
    transition: all 0.3s;
}
.courses-section .right a:hover {
    opacity: 0.85;
}
@media only screen and (max-width: 1150px) {
    .laptop-overlay {
        height: 85%;
    }
}
@media only screen and (max-width: 1050px) {
    .laptop-overlay {
        height: 75%;
    }
}
@media only screen and (max-width: 1000px) {
    .laptop-overlay {
        display: none;
    }
    .courses-section {
        background-image: url('../res/laptop-image.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: none;
    }
    .courses-section .right {
        width: 100%;
        min-height: 100vh;
        -webkit-backdrop-filter: brightness(30%);
                backdrop-filter: brightness(30%);
    }
}
@media only screen and (max-width: 700px) {
    .right-line {
        display: none;
    }
    .courses-section .right {
        align-items: center;
    }
    .courses-section .right > * {
        text-align: center !important;
        margin-right: 0 !important;
    }
    .courses-section .right {
        gap: 3rem;
    }
}
@media only screen and (max-width: 500px) {
    .courses-section {
        background-size: contain;
    }
    .courses-section .right h3 {
        font-size: 4rem;
        font-weight: 800;
    }
    .courses-section .right h2 {
        font-size: 4.3rem;
    }
}

/**About section*/
.about-section {
    width: 100%;
    min-height: 150vh;
    padding: max(5rem, 6vh) 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}
.about-section .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20vw;
    gap: 2rem;
}
.about-section .top h2 {
    color: #02FFD9;
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
}
.about-section .top p {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.about-section .top a {
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.8rem;
    border: 2px solid #02FFD9;
    padding: 1rem 1.8rem;
    transition: all 0.5s;
}
.about-section .top a:hover {
    background-color: #02FFD9;
    color: #000;
}

.section-inner-separator {
    width: min(100rem, 90vw);
    height: 0.1rem;
    background: linear-gradient(270deg, #02FFD9 0%, #FFF 19.79%, #02FFD9 49.48%, #FFF 83.33%, #02FFD9 100%);
}

.values {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
.values > div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15vw;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}
.before-values {
    background-image: url('../res/bgs/antes-bg.svg');
    background-position: left center;
}
.after-values {
    background-image: url('../res/bgs/despues-bg.svg');
    background-position: right center;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 1.7rem 3vw;
}
.value img {
    width: 4.8rem;
    height: 4.8rem;
}
.value h4 {
    color: #02FFD9;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.value p {
    color: #FFF;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}
@media only screen and (max-width: 1000px) {
    .values > div {
        background-image: none !important;
        width: min(350px, 90vw);
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .about-section .top {
        padding: 0 5vw;
    }
}

/**Contact Section*/
.contact-section {
    width: 100%;
    min-height: 100vh;
    padding: max(5rem, 6vh) 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: max(8vh, 10rem);
}
.contact-section .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.contact-section .text-container h2 {
    width: 100%;
    color: #DB82F1;
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
}
.contact-section .text-container p {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.contact-section form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.3rem;
}
.contact-section .input-holder {
    width: 100%;
    display: flex;
}
.contact-section input, .contact-section textarea {
    background-color: #fff;
    color: #000;
    padding: 1.2rem 3rem;
    font-family: 'Lato';
    font-size: 2rem;
    font-weight: 400;
    flex: 1;
    border-radius: 0.8rem;
    border: none;
}
.contact-section input:focus, .contact-section textarea:focus {
    outline: 2px solid #DB82F1;
}
.contact-section input::-webkit-input-placeholder, .contact-section textarea::-webkit-input-placeholder {
    color: #484848;
    font-family: 'Lato';
}
.contact-section input::-moz-placeholder, .contact-section textarea::-moz-placeholder {
    color: #484848;
}
.contact-section input:-ms-input-placeholder, .contact-section textarea:-ms-input-placeholder {
    color: #484848;
}
.contact-section input::-ms-input-placeholder, .contact-section textarea::-ms-input-placeholder {
    color: #484848;
}
.contact-section input::placeholder, .contact-section textarea::placeholder {
    color: #484848;
}

.contact-section form a {
    min-width: 30%;
    border-radius: 0.8rem;
    background: #DB82F1;
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    transition: all 0.3s;
}
.contact-section form a:hover {
    opacity: 0.85;
}
@media only screen and (max-width: 1000px) {
    .contact-section {
        padding: max(5rem, 6vh) 5vw;
    }
}

/**Footer*/
footer {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .left {
    display: flex;
    align-items: center;
}
footer .left span {
    color: #000;
    font-size: 1.6rem;
    font-weight: 500;
}
footer .right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2.4rem;
}
footer .right img {
    width: 45px;
    height: 45px;
}

/**Burger menu*/
:root {
    --font-size: 0.7;
    --color1: #fff;
    --borderRadius: 1em;
}
.dropdown-content {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    top: calc(13vh - 1px);
    right: 8vw;
    background-color: #fff;
    border: 1px solid #9a9a9a;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 8px rgba(255, 255, 255, 0.1);
    transition: all 0.5s;
    overflow: hidden;
    z-index: 2;
}
.dropdown-content.visible {
    display: flex;
}
.dropdown-content a {
    color: #000;
    font-size: 1.5rem;
    font-family: 'Inter';
    text-decoration: none;
    padding: 1rem 3rem 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.dropdown-content svg {
    width: 2rem;
    height: 2rem;
    fill: #754FE2;
}
.burger {
    display: none;
    font-size: var(--font-size);
    cursor: pointer;
    padding: 1.5em 0.75em;
    transform: scale(0.7);
}
.burger > div {
    width: 3.5em;
    height: 0.5em;
    border-radius: var(--borderRadius);
    background: var(--color1);
}
.burger > div::before, .burger > div::after {
    transition: font-size 0s;
    content: "";
    display: block;
    position: absolute;
    width: 3.5em;
    height: 0.5em;
    background: var(--color1);
    border-radius: var(--borderRadius);
}
.burger > div::before {
    margin-top: -1.5em;
}
.burger > div::after {
    margin-top: 1.5em;
}
.burger1 {
    transition: all 0.7s, font-size 0s;
    transition-timing-function: cubic-bezier(0.68, -0.35, 0.265, 1.35);
}
.burger1 > div {
    transition: all 0.1s 0.3s, font-size 0s;
}
.burger1 > div::before, .burger1 > div::after {
    transition: all 0.3s 0.2s, font-size 0s;
}
.burger1.toggled {
    transform: rotate(180deg);
}
.burger1.toggled > div::before {
    transform: rotate(45deg) translate(1.1em, 1em);
}
.burger1.toggled > div {
    background: transparent;
}
.burger1.toggled > div::after {
    transform: rotate(-45deg) translate(1.1em, -1em);
}

@media only screen and (max-width:850px){
    header nav > a {
        display: none;
    }
    .burger {
        display: block;
    }
}
@media only screen and (max-width:600px) {
    header .left img {
        height: 50%;
    }
    header .left h1 {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width:500px) {
    header .left {
        gap: 5vw;
    }
    header .left img {
        height: 40%;
    }
    header .left h1 {
        font-size: 1.6rem;
    }
}