:root {
    --colorPrimario: #000;
    --colorSecundario: #fff;
    --acento1: #02FFD9;
    --acento2: #555EE1;
    --acento3: #754FE2;
    --acento4: #DB82F1;
}

*{
    font-family: 'Lato';
    color: #fff;
}